@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.active {
  color: white;
  transform: scale(1.25);
}

.text-shadow-vicePink {
  text-shadow: 2px 2px 0 rgba(255, 0, 157, 0.7);
}

@layer base {
  section {
    @apply min-h-screen px-40;
  }

  h1 {
    @apply text-7xl font-bold;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    @apply text-balance;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}

@layer components {
  .gradient-bw {
    @apply bg-gradient-to-b from-white to-black to-100%;
  }

  .gradient-pinkcyan {
    @apply bg-gradient-to-tl from-vicePink to-viceCyan to-70%;
  }
}
