@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.active {
  color: white;
  transform: scale(1.25);
}

@layer base {
  section {
    @apply h-screen min-h-screen;
  }

  h1 {
    @apply text-6xl;
  }

  h1 > span:first-child {
    animation: glitch 2998ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    user-select: none;
    --glitchAmount: -0.2em;
  }

  h1 > span:last-child {
    animation: glitch 3000ms infinite;
    clip-path: polygon(0 100%, 100% 100%, 100% 70%, 0 70%);
    user-select: none;
    --glitchAmount: 0.2em;
  }

  @keyframes glitch {
    0% {
      text-shadow:
        -2px 3px 0 rgb(0, 174, 255),
        2px -3px 0 rgb(255, 0, 157);
      transform: translate(0);
    }
    2% {
      text-shadow:
        2px -3px 0 rgb(0, 174, 255),
        -2px 3px 0 rgb(255, 0, 157);
      transform: translate(var(--glitchAmount));
    }
    15%,
    100% {
      text-shadow: none;
      transform: none;
    }
  }
}

@layer components {
  .gradient-bw {
    @apply bg-gradient-to-b from-white to-black to-60%;
  }
}
