::-webkit-scrollbar-thumb {
    background: rgba(27, 117, 1, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(39, 147, 3, 0.7);
}

body {
    background-color: black;
    color: white;
}

.filter-matrix {
    filter: brightness(50%) invert(2%) sepia(99%) saturate(1484%) hue-rotate(121deg) brightness(94%) contrast(105%);
}

.cyber-btn {
    @apply bg-darkMatrixGreen hover:bg-matrixGreen p-2 transition-all duration-200
}